.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.main-heading {
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
  font-family: roboto;
  color: #326a9d;
}
.para {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  font-family: roboto;
  color: #326a9d;
}
.button {
  height: 50px;
  width: 120px;
  background-color: azure;
  color: black;
  border-radius: 2px;
  border-color: aqua;
}
